{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}

    <h2>Filtrer les sorties :</h2>

    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col col-md-6">

                {{ form_start(searchform) }}
                {{ form_row(searchform.campus) }}
                <div class="row mt-3">
                     {{ form_row(searchform.q) }}
                </div>
                <div class="d-flex flex-row mt-3">
                    <div class="p-2"> {{ form_row(searchform.startDate) }}</div>
                    <div class="p-2">{{ form_row(searchform.endDate) }}</div>
                </div>
            </div>
            <div class="col col-md-6">

                <button type="submit" class="btn btn-outline-dark btn-lg">Rechercher</button>
                <div class="d-flex flex-row mt-3">
                    <div >
                        {{ form_row(searchform.sortiesOrganisateur) }}
                    </div>
                    <div>
                        Sorties dont je suis l'organisateur/trice
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div >
                        {{ form_row(searchform.sortiesInscrit) }}
                    </div>
                    <div>
                        Sorties auxquelles je suis inscrit/e
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div >
                        {{ form_row(searchform.sortiesNoInscrit) }}
                    </div>
                    <div>
                        Sorties auxquelles je ne suis pas inscrit/e
                    </div>
                </div>
                <div class="d-flex flex-row">
                <div >
                    {{ form_row(searchform.sortiesPassees) }}
                </div>
                <div>
                    Sorties passées
                </div>
                </div>
            </div>
            {{ form_end(searchform) }}
        </div>




        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="row">Nom de la sortie</th>
                    <th scope="row">Date de la sortie</th>
                    <th scope="row">Cloture</th>
                    <th scope="row">inscrits/places</th>
                    <th scope="row">Etat</th>
                    <th scope="row">Inscrit</th>
                    <th scope="row">Organisateur</th>
                    <th scope="row">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in sorties %}
                    <tr>
                        <td>
                            {{ sortie.nom }}
                        </td>
                        <td>
                            {{ sortie.datedebut | date("d/m/Y H:i") }}
                        </td>
                        <td>
                            {{ sortie.datecloture | date("d/m/Y") }}
                        </td>
                        <td>
                            {{ sortie.nbinscriptionsmax }}
                        </td>
                        <td>
                            {{ sortie.etat.libelle }}
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="btn btn-outline-dark btn-lg">
                <a class="lienSortie" href="{{ path('main_test') }}" title="Creer une sortie">Créer une sortie</a>
            </div>

        </div>

    </div>
    <div>



    </div>
{% endblock %}