{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1><tr>
            <td>{{ app.user.pseudo }}</td>
        </tr></h1>

    <table class="table">
        <thead>

            <tr>
                <th>Prénom</th>
                <td>{{ app.user.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ app.user.nom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ app.user.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ app.user.email }}</td>
            </tr>


        </thead>
    </table>
    <button class="btn btn-outline-secondary"><a class="nav-link active" style="color: black" aria-current="page" href="{{ path('profil_edit', {'id': app.user.id}) }}">edit</a>
    </button>

{% endblock %}
