{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Create {% endblock %}
{% block body %}
    <h2 class="text-center">Créer une sortie :</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{ form_start(sortiesForm) }}
                <div class="d-flex flex-row mt-3">
                    <div class="col-md-6"> Nom de la sortie :</div>
                    <div class="col-md-3">{{ form_row(sortiesForm.nom) }}</div>
                </div>
                <div class="d-flex flex-row mt-3">
                    <div class="col-md-6"> Date et heure de la sortie :</div>
                    <div class="col-md-3">{{ form_row(sortiesForm.datedebut) }}</div>
                </div>
                <div class="d-flex flex-row mt-3">
                    <div class="col-md-6"> Date limite d'inscription :</div>
                    <div class="col-md-3">{{ form_row(sortiesForm.datecloture) }}</div>
                </div>
                <div class="d-flex flex-row mt-3">
                    <div class="col-md-6"> Nombre de places :</div>
                    <div class="col-md-3">{{ form_row(sortiesForm.nbinscriptionsmax) }}</div>
                </div>
                <div class="d-flex flex-row mt-3">
                    <div class="col-md-6"> Durée :</div>
                    <div class="col-md-3">{{ form_row(sortiesForm.duree) }}</div>
                </div>
                <div class="d-flex flex-row mt-3">
                    <div class="col-md-6"> Description et infos :</div>
                    <div class="col-md-3">{{ form_row(sortiesForm.descriptioninfos) }}</div>
                </div>
            </div>
            <div class="col-md-6">
                {{ form_widget(sortiesForm) }}

            </div>
            <div class="d-flex justify-content-center mt-5">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-dark ">Enregistrer</button>
                </div>
                {#<div class="col-md-2">
                    <button type="submit" class="btn btn-outline-dark">Publier la sortie</button>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-dark">Annuler</button>
                </div>#}
            </div>
            {{ form_end(sortiesForm) }}
        </div>
    </div>
{% endblock %}
{#
{% block javascripts %}
    <script>
        window.onload = () => {
            let ville = document.querySelector("#sortie_ville");
            ville.addEventListener("change", function(){
                let form = this.closest("form");
                console.log(form)
                let data = this.nom + "=" + this.value;
                console.log(data)
            });
        }
    </script>
{% endblock %}#}
